BODY {
background:white;
}

H1 {

font-size: large;
font-weight: bold;
color:white;
text-align: left;
background-color:#800000;
}

H3 {

font-size: large;
font-weight: bold;
color: white;
text-align: center;

}

H2 {

font-size: large;
font-weight: bold;
color: black;
text-align: center;

}

P {
margin-left: 15px;

}
 table, th, td{
border:20px solid #00AA90;
border-collapse: collapse;

 }
 
 th, td {
	 padding: 6px 10px;
 }
 
 th{
	 background-color: rgb(0, 170, 144);
 }
 
 *{
	 font-family: verdana;
 }